{% extends 'base.twig' %}

{% block content %}
    <div class="container block-spacing-top block-spacing-bottom">
        <div class="row">
            <div class="col-12">
                <p class="mb-4">{{ __('This page is protected with a password.', 'mino') }}</p>

                <form class="password-form" action="{{ passwordProtectedAction }}" method="post">
                    <label class="d-none" for="pwbox-{{ post.ID }}">
                        {{ __('Password', 'mino') }}
                    </label>

                    <input
                        class="password-box main-menu__search d-block"
                        id="pwbox-{{ post.ID }}"
                        name="post_password"
                        type="password"
                        placeholder="{{ __('Password', 'mino') }}"
                        size="20"
                        maxlength="20"
                    />

                    <input
                        class="password-btn btn btn--primary d-block mt-4"
                        type="submit"
                        name="Submit"
                        value="{{ __('Get access', 'mino') }}"
                    />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
