<section {{ cs('mino-company-details block-padding', block_layout(blockLayout)) }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mino-company-details__container">
                    {% if fields.title %}
                        <h2 class="mino-company-details__title">{{ fields.title }}</h2>
                    {% endif %}

                    {% if fields.description %}
                        <div class="mino-company-details__description col-12 col-lg-6">
                            {{ fields.description }}
                        </div>
                    {% endif %}

                    {% if fields.button %}
                        <div class="mino-company-details__button">
                            {{ include('components/button.twig') }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12">
                            <div class="row row-gap-4">
                                <div class="col-12 col-md-6">
                                    {% if options.contact.phone or options.contact.email or options.address.address or options.address.postcode or options.address.city %}
                                        <div class="mino-company-details__block">
                                            <div class="mino-company-details__card-header">
                                                <div class="mino-company-details__icon-wrapper">
                                                    {{ fetch_svg('map-pin') }}
                                                </div>
                                                <h3 class="mino-company-details__section-title">{{ __('Contactgegevens', 'mino') }}</h3>
                                            </div>

                                            <div class="mino-company-details__card-content">
                                                <table class="mino-company-details__table">
                                                    {% if options.contact.phone %}
                                                        <tr class="mino-company-details__row">
                                                            <td class="mino-company-details__label">{{ __('Telefoon', 'mino') }}</td>
                                                            <td class="mino-company-details__value">
                                                                <a href="tel:{{ options.contact.phone|replace({' ': ''}) }}">{{ options.contact.phone }}</a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if options.contact.email %}
                                                        <tr class="mino-company-details__row">
                                                            <td class="mino-company-details__label">{{ __('Email', 'mino') }}</td>
                                                            <td class="mino-company-details__value">
                                                                <a href="mailto:{{ options.contact.email }}">{{ options.contact.email }}</a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if options.address.address or options.address.postcode or options.address.city %}
                                                        <tr class="mino-company-details__row">
                                                            <td class="mino-company-details__label">{{ __('Adres', 'mino') }}</td>
                                                            <td class="mino-company-details__value">
                                                                {% if options.address.address %}
                                                                    <p>{{ options.address.address }}</p>
                                                                {% endif %}
                                                                {% if options.address.postcode or options.address.city %}
                                                                    <p>{{ options.address.postcode }} {{ options.address.city }}</p>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="col-12 col-md-6">
                                    {% if options.contact.vat or options.contact.kvk %}
                                        <div class="mino-company-details__block">
                                            <div class="mino-company-details__card-header">
                                                <div class="mino-company-details__icon-wrapper">
                                                    {{ fetch_svg('briefcase') }}
                                                </div>
                                                <h3 class="mino-company-details__section-title">{{ __('Bedrijfsgegevens', 'mino') }}</h3>
                                            </div>

                                            <div class="mino-company-details__card-content">
                                                <table class="mino-company-details__table">
                                                    {% if options.contact.kvk %}
                                                        <tr class="mino-company-details__row">
                                                            <td class="mino-company-details__label">{{ __('KvK', 'mino') }}</td>
                                                            <td class="mino-company-details__value">{{ options.contact.kvk }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if options.contact.vat %}
                                                        <tr class="mino-company-details__row">
                                                            <td class="mino-company-details__label">{{ __('BTW', 'mino') }}</td>
                                                            <td class="mino-company-details__value">{{ options.contact.vat }}</td>
                                                        </tr>
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
