{% set blockMedia %}
    {% if fields.media_type == 'video' and fields.video %}
        {% if 'youtube.com' in fields.video or 'youtu.be' in fields.video %}
            <iframe
                class="mino-split-content__video mino-split-content__video--youtube"
                src="{{ fields.video|replace({'watch?v=': 'embed/', 'youtu.be/': 'youtube.com/embed/'}) }}"
                title="YouTube video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        {% elseif 'vimeo.com' in fields.video %}
            <iframe
                class="mino-split-content__video mino-split-content__video--vimeo"
                src="{{ fields.video|replace({'vimeo.com': 'player.vimeo.com/video'}) }}"
                title="Vimeo video"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
            ></iframe>
        {% else %}
            <video
                class="mino-split-content__video"
                src="{{ fields.video }}"
                controls
                preload="metadata"
                playsinline
            >
                {% set videoFallbackLink %}
                    <a href="{{ fields.video }}" target="_blank" rel="noopener noreferrer">{{ __('Link naar de video', 'mino') }}</a>
                {% endset %}

                <p>{{ __('Je browser ondersteunt geen HTML5 video. Hier is een %s als fallback.', 'mino')|format(videoFallbackLink) }}</p>
            </video>
        {% endif %}
    {% elseif fields.media_type == 'image' and fields.image %}
        {% set imageObj = get_image(fields.image) %}
        {% if imageObj %}
            <div class="mino-split-content__image-container">
                <picture class="mino-split-content__image-wrapper">
                    <img
                        class="mino-split-content__image"
                        src="{{ imageObj.src('medium') }}"
                        srcset="{{ imageObj.srcset }}"
                        sizes="{{ imageObj.img_sizes }}"
                        alt="{{ imageObj.alt }}"
                        loading="lazy"
                    />
                </picture>
            </div>
        {% endif %}
    {% endif %}
{% endset %}

<section
    {{ cs('mino-split-content block-padding', fields.media_inside ? 'mino-split-content--inside', fields.content_order ? 'is--left' : 'is--right') }}
>
    <div class="container">
        <div class="row gx-lg-0 row-gap-3">
            <div {{ cs('col-12 col-lg-6', fields.content_order ? 'order-lg-0' : 'order-lg-2') }}>
                <div class="mino-split-content__content">
                    {% if fields.title %}
                        <h2 class="mino-split-content__title">
                            {{ fields.title }}
                        </h2>
                    {% endif %}

                    {% if fields.description %}
                        <div class="mino-split-content__text">
                            {{ fields.description }}
                        </div>
                    {% endif %}

                    {% if fields.button.link %}
                        <div class="mino-split-content__button">
                            {{ include('components/button.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                {% if blockMedia and fields.media_inside %}
                    {{ blockMedia }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if blockMedia and not fields.media_inside %}
        {{ blockMedia }}
    {% endif %}
</section>
