{% set blockContent %}
    <div {{ cs('mino-breadcrumbs__wrapper', spacingBottom ? 'mino-breadcrumbs__spacing-bottom', spacingBottomLarge ? 'mino-breadcrumbs__spacing-bottom--large') }}>
        {{ custom_breadcrumbs() }}
    </div>
{% endset %}

<section class="mino-breadcrumbs">
    {% if hasContainer %}
        <div class="container">
            <div class="row justify-content-center">
                <div {{ cs('col-12 col-lg-10', numColumns ? 'col-xl-' ~ numColumns) }}>
                    {{ blockContent }}
                </div>
            </div>
        </div>
    {% else %}
        {{ blockContent }}
    {% endif %}
</section>
